@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_LayoutNoFooter.cshtml";
}
<h2>@ViewBag.Title</h2>
<br>

<h4>This web application is created by Jessie Ko for WEB524 course in Winter 2020.</h4>
<ul>
    <li>Create the project, based on the project template;</li>
    <li>Customize the app’s appearance;</li>
    <li>Create view models and mappers that cover the initial use cases;</li>
    <li>Add methods to the Manager class that handle the use cases;</li>
    <li>Add controller(s) to work with the manager object;</li>
    <li>For the Track entity, implement the “add new” use case, including controller, model(s) and view;</li>
</ul>

