@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_LayoutNoFooter.cshtml";
}
<h2>@ViewBag.Title</h2>
<br />
<div>
    <h4><strong>Jessie Ko <br /> </strong></h4>
    <h5><strong>Computer Programming and Analysis</strong></h5>
    <h5><strong>Seneca College Newnham Campus</strong></h5>
    <address>
        1750 Finch Ave East<br />
        North York, ON M2J 5G3<br />
        <abbr title="Phone">Phone:</abbr>
        (416) 491-5050
    </address>

    <address>
        <strong>Support: </strong><a href="mailto:jessieko608@gmail.com">jessieko608@gmail.com</a><br />

    </address>

    <strong>Portfolio Website:</strong><a href="http://www.jessieko.com" class="btn btn-link" type="button">jessieko.com</a>
</div>