@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Assignment 2</h1>
    <p class="lead">Implement common interaction patters in a web app that uses a persistent sotre.</p>
    <p><a href="http://www.jessieko.com" class="btn btn-primary btn-lg">Jessie Ko &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2 class="text-center">Milestone 1</h2>
        <ul>
            <li>"get all" use case for Album, MediaType, and Track objects</li>
            <li>"add new" and "get one" functionality for Track objects</li>
            <li>Create SelectList for Album and MediaType</li>
            <li>flattened properties in TrackWithDetailViewModel</li>
            <li>Use DropDownList Html Helper and configure the size of the listbox</li>
            <li>Use a radio button to display media types horizontally by adding the "radio-inline" class to the &ltlabel&gt element that surrounds the &ltinput&gt element</li>
        </ul>
    </div>
    <div class="col-md-6">
        <h2 class="text-center">Milestone 2</h2>
        <ul>
            <li>"get all" and "get one" use cases for Playlist entity</li>
            <li>"edit existing" use case for playlist</li>
            <li>Use AutoMapper Flattening and Navigation property</li>
            <li>Use a Bootstrap badge to display number of tracks on the playlist</li>
            <li>Use a MultiSelectList</li>
            <li>Add a read-only property in TrackBaseViewModel</li>
        </ul>
    </div>
</div>